<%- include("partials/header"); -%>
<body>
    <h1>Contact</h1>
    <p><%= contact %></p>
    <p><%= contact1 %></p>
    <p>Email me at <link>divyanshb30@gmail.com</link></p>


</body>
</html>
 <%- include("partials/footer"); -%>